<div class="d-flex flex-column wrapper">
    <header>
        <app-nav-bar></app-nav-bar>
    </header>
    <main class="flex-fill">
        <div class="container">
            <div class="card login-form">
                <div class="card-body">
                    <h3 class="card-title text-center">Resetar senha</h3>
                    
                    <div class="card-text">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Entre com seu endereço de Email e nós enviaremos um link para resetar sua senha.</label>
                                <input type="email" class="form-control form-control-sm mt-2" placeholder="Digite seu endereço Email">
                            </div>
            
                            <button type="submit" class="btn btn-primary btn-block mt-2" routerLink="/cadastrarNovaSenha">Enviar link para resetar a senha</button>
                        </form>
                    </div>
                </div>
            </div>

            <img src="{{photoCover}}">
        </div>
    </main>
    <footer>
        <app-footer></app-footer>
    </footer>
</div>
