
<div class="card text-center bg-light">
    <a href="#" class="position-absolute end-0 p-2 text-danger">
        <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px;"></i>
    </a>
    <a routerLink="/produto">
        <img src="{{frutaImg}}" class="card-img-top">
    </a>
    <div class="card-header">
        {{preco}}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{frutaNome}}</h5>
        <p class="card-text truncar-3l">
            {{descricao}}
        </p>
    </div>
    <div class="card-footer">
        <a routerLink="/carrinho" class="btn btn-{{btnTheme}} {{btnOption}} mt-2 d-block">
            {{descFooter}}
        </a>
        <small class="text-success">{{descEstoque}}</small>
    </div>
</div>