<li class="list-group-item py-3">
    <div class="row g-3">
        <div class="col-4 col-md-3 col-lg-2">
            <a href="#">
                <img src="{{fruitImg}}" class="img-thumbnail">
            </a>
        </div>
        <div class="col-8 col-md-9 col-lg-7 col-xl-8 text-left align-self-center">
            <h4>
                <b><a href="#" class="text-decoration-none text-danger">
                        {{fruitName}}</a></b>
            </h4>
            <h5>
                {{fruitDesc}}
                <br>
                <b>
                    {{fruitQuant}} Unidade(s) <br>
                    R${{fruitPreco}}
                </b>
            </h5>
        </div>                            
    </div>
</li>