<div class="d-flex flex-column wrapper">
    <header>
        <app-nav-bar></app-nav-bar>
    </header>
    <main class="flex-fill">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="card col-md-8 col-md-offset-2 mb-4">
                    <!-- login_wrapper -->
                    <div class="login_wrapper">
                        <h1 class="text-center mb-4">Login</h1>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                                <a href="#" class="btn btn-primary facebook"> <span>Login com Facebook</span> <i class="fa fa-facebook"></i> </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                                <a href="#" class="btn btn-primary google-plus"> Login  com Google <i class="fa fa-google-plus"></i> </a>
                            </div>
                        </div>
                        <h2>ou</h2>
                        <div class="formsix-pos">
                            <div class="form-group i-email">
                                <input type="email" class="form-control" required="" id="email2" placeholder="Endereço Email *">
                            </div>
                        </div>
                        <div class="formsix-e">
                            <div class="form-group i-password">
                                <input type="password" class="form-control" required="" id="password2" placeholder="Senha *">
                            </div>
                        </div>
                        <div class="login_remember_box">
                            <label class="control control--checkbox">Lembrar-me
                                <input type="checkbox">
                                <span class="control__indicator"></span>
                            </label>
                            <a routerLink="/recuperarSenha" class="forget_password">
                                Esqueci a senha
                            </a>
                        </div>
                        <div class="login_btn_wrapper">
                            <a routerLink="/cliente" class="btn btn-primary login_btn"> Login </a>
                        </div>
                        <div class="login_message">
                            <p>Já tem uma conta ? <a routerLink="/cadastrar"> Cadastrar </a> </p>
                        </div>
                    </div>
                    <!-- /.login_wrapper-->
                </div>
            </div>
        </div>
    </main>
    <footer>
        <app-footer></app-footer>
    </footer>
</div>
