<nav class="navbar navbar-expand-lg navbar-dark bg-danger border-bottom shadow-sm mb-3">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Quitanda Online</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Principal</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Páginas
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/">x</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="/trocas">Trocas</a></li>
              <li><a class="dropdown-item" routerLink="/termos">Termos</a></li>
              <li><a class="dropdown-item" routerLink="/privacidade">Privacidade</a></li>
              <li><a class="dropdown-item" routerLink="/quemSomos">Quem somos</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" aria-disabled="true" routerLink="/contato">Contato</a>
          </li>
        </ul>

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex flex-row align-items-center justify-content-center">
            <li class="nav-item">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success text-light border-light me-2" type="submit">Search</button>
                </form>
            </li>

            <li class="nav-item position-relative me-2">
                <a class="nav-link text-light" routerLink="/carrinho">
                  <i class="bi-cart" style="font-size: 26px;"></i>
                  <span class="badge rounded-pill bg-light text-danger position-absolute" style="top: 8px; right: 0;" title="5 produto(s) no carrinho"><small>5</small></span>
                </a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-light" routerLink="/login">
                <i class="bi bi-person-circle" style="font-size: 30px;"></i>
              </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
