<div class="list-group">
    <a routerLink="/cliente" class="list-group-item list-group-item-action" routerLinkActive="bg-danger">
        <i class="bi bi-person-lines-fill fs-6"></i> Vizualizar Perfil
    </a>
    <a routerLink="/clienteDados" class="list-group-item list-group-item-action" routerLinkActive="bg-danger">
        <i class="bi-person fs-6"></i> Dados Pessoais
    </a>
    <a routerLink="/clienteContato" class="list-group-item list-group-item-action" routerLinkActive="bg-danger">
        <i class="bi-mailbox fs-6"></i> Contatos
    </a>
    <a routerLink="/clienteEndereco" class="list-group-item list-group-item-action" routerLinkActive="bg-danger">
        <i class="bi-house-door fs-6"></i> Endereço
    </a>
    <a routerLink="/clientePedidos" class="list-group-item list-group-item-action" routerLinkActive="bg-danger">
        <i class="bi-truck fs-6"></i> Pedidos
    </a>
    <a routerLink="/clienteFavoritos" class="list-group-item list-group-item-action" routerLinkActive="bg-danger">
        <i class="bi-heart fs-6"></i> Favoritos
    </a>
    <a routerLink="/clienteSenha" class="list-group-item list-group-item-action" routerLinkActive="bg-danger">
        <i class="bi-lock fs-6"></i> Alterar Senha
    </a>
    <a routerLink="/" class="list-group-item list-group-item-action">
        <i class="bi-door-open fs-6"></i> Sair
    </a>
</div>
