<div class="d-flex flex-column wrapper">
    <header>
        <app-nav-bar></app-nav-bar>
    </header>
    <main class="flex-fill">
        <div class="container mb-5">
            <h1>Minha Conta</h1>
            <div class="row gx-3 mb-3">
                <div class="col-4">
                    <app-cliente-menu-card></app-cliente-menu-card>
                </div>
                <div class="col-8">
                    <div class="row g-3">
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                            <app-fruit-card
                                frutaImg="./../../../assets/img/produtos/000003.jpg"
                                preco="R$ 4,50"
                                frutaNome="Mamão"
                                descricao="Fruta fresca da melhor qualidade possível, direto do produtor rural para a sua mesa."
                                btnTheme="danger"
                                btnOption="enabled"
                                descFooter="Adicionar ao Carrinho"
                                descEstoque="320,5kg em estoque"
                            ></app-fruit-card>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                            <app-fruit-card
                                frutaImg="./../../../assets/img/produtos/000003.jpg"
                                preco="R$ 4,50"
                                frutaNome="Mamão"
                                descricao="Fruta fresca da melhor qualidade possível, direto do produtor rural para a sua mesa."
                                btnTheme="danger"
                                btnOption="enabled"
                                descFooter="Adicionar ao Carrinho"
                                descEstoque="320,5kg em estoque"
                            ></app-fruit-card>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                            <app-fruit-card
                                frutaImg="./../../../assets/img/produtos/000003.jpg"
                                preco="R$ 4,50"
                                frutaNome="Mamão"
                                descricao="Fruta fresca da melhor qualidade possível, direto do produtor rural para a sua mesa."
                                btnTheme="danger"
                                btnOption="enabled"
                                descFooter="Adicionar ao Carrinho"
                                descEstoque="320,5kg em estoque"
                            ></app-fruit-card>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                            <app-fruit-card
                                frutaImg="./../../../assets/img/produtos/000003.jpg"
                                preco="R$ 4,50"
                                frutaNome="Mamão"
                                descricao="Fruta fresca da melhor qualidade possível, direto do produtor rural para a sua mesa."
                                btnTheme="danger"
                                btnOption="enabled"
                                descFooter="Adicionar ao Carrinho"
                                descEstoque="320,5kg em estoque"
                            ></app-fruit-card>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                            <app-fruit-card
                                frutaImg="./../../../assets/img/produtos/000003.jpg"
                                preco="R$ 4,50"
                                frutaNome="Mamão"
                                descricao="Fruta fresca da melhor qualidade possível, direto do produtor rural para a sua mesa."
                                btnTheme="danger"
                                btnOption="enabled"
                                descFooter="Adicionar ao Carrinho"
                                descEstoque="320,5kg em estoque"
                            ></app-fruit-card>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                            <app-fruit-card
                                frutaImg="./../../../assets/img/produtos/000003.jpg"
                                preco="R$ 4,50"
                                frutaNome="Mamão"
                                descricao="Fruta fresca da melhor qualidade possível, direto do produtor rural para a sua mesa."
                                btnTheme="danger"
                                btnOption="enabled"
                                descFooter="Adicionar ao Carrinho"
                                descEstoque="320,5kg em estoque"
                            ></app-fruit-card>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                            <app-fruit-card
                                frutaImg="./../../../assets/img/produtos/000003.jpg"
                                preco="R$ 4,50"
                                frutaNome="Mamão"
                                descricao="Fruta fresca da melhor qualidade possível, direto do produtor rural para a sua mesa."
                                btnTheme="danger"
                                btnOption="enabled"
                                descFooter="Adicionar ao Carrinho"
                                descEstoque="320,5kg em estoque"
                            ></app-fruit-card>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                            <app-fruit-card
                                frutaImg="./../../../assets/img/produtos/000003.jpg"
                                preco="R$ 4,50"
                                frutaNome="Mamão"
                                descricao="Fruta fresca da melhor qualidade possível, direto do produtor rural para a sua mesa."
                                btnTheme="danger"
                                btnOption="enabled"
                                descFooter="Adicionar ao Carrinho"
                                descEstoque="320,5kg em estoque"
                            ></app-fruit-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <app-footer></app-footer>
    </footer>
</div>